@import "../../responsive.scss";

.layout {
  margin-left: auto;
  margin-right: auto;
  height: 100dvh;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  

  .content {
    overflow: auto;
    flex: 1;
  }
}
