// @import "../../responsive.scss";

// .homePage {
//   display: flex;
//   overflow: auto;
//   height: 100%;

//   @include sm{
//     overflow: auto;
//     min-height: 100dvh;
//   }
 


//   .textContainer {
//     flex: 3;

//     .wrapper {
//       padding-right: 100px;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       gap: 50px;


//       @include lg{
//         padding-right: 50px;
//       }

//       @include md{
//         padding: 0;
//       }

//       @include sm{
//         justify-content: flex-start;
//       }

//       .title {
//         font-size: 64px;

//         @include lg {
//           font-size: 48px;
//         }
//       }

//       .boxes {
//         display: flex;
//         justify-content: space-between;

//         @include sm {
//           display: none;
//         }

//         h1 {
//           font-size: 36px;

//           @include lg {
//             font-size: 32px;
//           }
//         }

//         h2 {
//           font-size: 20px;
//           font-weight: 300;
//         }
//       }
//     }
//   }

//   .imgContainer {
//     flex: 2;
//     background-color: #fcf5f3;
//     position: relative;
//     display: flex;
//     align-items: center;

//     @include md {
//       display: none;
//     }
//     @include sm{
//       display: none;
//     }

//     img {
//       width: 115%;
//       position: absolute;
//       right: 0;

//       @include lg {
//         width: 105%;
//       }
//       @include sm{
//         display: none;
//       }
//       @include md{
//         display: none;
//       }
//     }
//   }
  
 
// }
@import "../../responsive.scss";

.homePage {
  display: flex;
  min-height: max-content;
  @include sm {
padding-bottom: 20px;  
}

  

  .textContainer {
    flex: 3;
    @include sm {
      min-height: fit-content;
      height: auto; 
      overflow: auto; 
      flex-direction: column;
      text-align: left;
    }

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      @include lg {
        padding-right: 50px;
      }

      @include md {
        padding: 0;
      }

      @include sm {
        height: 85dvh;
        justify-content: flex-start;
      }

      .title {
        font-size: 48px; 
        @include sm {
          font-size: 30px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none; 
        }

        h1 {
          font-size: 32px; /* Adjusted for smaller screens */

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none; /* Hide imgContainer on medium screens */
    }
    @include sm {
      display: none; /* Hide imgContainer on small screens */
    }

    img {
      width: 100%; /* Adjusted for smaller screens */
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}
